Gleyce Andrade Silva - RA:818125665 Lucas Alves Xavier - RA: 818121050 Lucas Amaral - RA:818115153 Mayara Andrade Silva - RA:818146535

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files
uploaded = files.upload()

Saving basecensus.csv.xlsx to basecensus.csv.xlsx

In [3]:
df = pd.read_excel('basecensus.csv.xlsx')

In [4]:
filtro  = df['education'].__eq__(' HS-grad')
df1 = df[filtro]

filtro  = df['education'].__eq__(' Some-college')
df2 = df[filtro]

filtro  = df['education'].__eq__(' Bachelors')
df3 = df[filtro]


finalDf = pd.concat([df1, df2, df3])

In [5]:
finalDf = finalDf[(finalDf.astype(str) != ' ?').all(axis=1)]
len(finalDf) # 30162

21562

In [6]:
finalDf.head()

    Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
2            3   38            Private  ...             40   United-States   <=50K
7            8   52   Self-emp-not-inc  ...             45   United-States    >50K
15          17   25   Self-emp-not-inc  ...             35   United-States   <=50K
16          18   32            Private  ...             40   United-States   <=50K
20          22   54            Private  ...             20   United-States   <=50K

[5 rows x 16 columns]

In [7]:
finalDf['income_bi'] = finalDf.apply(lambda row: 1 if '>50K'in row['income'] else 0, axis=1)

In [8]:
finalDf = finalDf.drop(['income','capital.gain','capital.loos','Unnamed: 0','education.num','age','workclass','final.weight','marital.status'], axis=1)

In [9]:
finalDf = pd.get_dummies(finalDf, columns=['occupation','relationship','sex','native.country','race'])

In [10]:
finalDf.head()

   education  hour.per.week  income_bi  ...  race_ Black  race_ Other  race_ White
2    HS-grad             40          0  ...            0            0            1
7    HS-grad             45          1  ...            0            0            1
15   HS-grad             35          0  ...            0            0            1
16   HS-grad             40          0  ...            0            0            1
20   HS-grad             20          0  ...            1            0            0

[5 rows x 71 columns]

In [11]:
finalDf = finalDf.sample(frac=1)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(finalDf.drop('education',axis=1), finalDf['education'], test_size=0.3, random_state=101)
X_train
y_test

7177         Bachelors
9830           HS-grad
4451           HS-grad
25257          HS-grad
19802     Some-college
             ...
13057          HS-grad
22712     Some-college
3631      Some-college
17801          HS-grad
21304          HS-grad
Name: education, Length: 6469, dtype: object

In [17]:
from sklearn.neighbors import KNeighborsClassifier
modelo = KNeighborsClassifier(n_neighbors=5)
modelo.fit(X_train,y_train)
predictions = modelo.predict(X_test)

In [19]:
import pandas as pd

print("\nMatriz de confusão detalhada:\n",
      pd.crosstab(y_test, predictions, rownames=['Real'], colnames=['Predito'],
      margins=True, margins_name='Todos'))

Matriz de confusão detalhada:
 Predito         Bachelors   HS-grad   Some-college  Todos
Real
 Bachelors            938       382            175   1495
 HS-grad              528      1970            527   3025
 Some-college         516       970            463   1949
Todos                1982      3322           1165   6469

In [20]:
import sklearn.metrics as metrics
print("Relatório sobre a qualidade:\n")
print(metrics.classification_report(y_test, predictions, target_names=['Bachelors','HS-grad','Some-college']))

Relatório sobre a qualidade:

              precision    recall  f1-score   support

   Bachelors       0.47      0.63      0.54      1495
     HS-grad       0.59      0.65      0.62      3025
Some-college       0.40      0.24      0.30      1949

    accuracy                           0.52      6469
   macro avg       0.49      0.51      0.49      6469
weighted avg       0.51      0.52      0.50      6469

In [21]:
precisao = str(round(modelo.score(X_test,y_test) * 100, 2))+"%"
print("A acurácia do modelo k-NN foi",precisao)

A acurácia do modelo k-NN foi 52.11%

In [22]:
predito = modelo.predict([[40,	1,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1]]) 
print(predito)

[' Bachelors']