Gleyce Andrade Silva - RA:818125665 Lucas Alves Xavier - RA: 818121050 Lucas Amaral - RA:818115153 Mayara Andrade Silva - RA:818146535

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
from google.colab import files
uploaded = files.upload()

Saving basecensus.csv.xlsx to basecensus.csv.xlsx

In [23]:
df = pd.read_excel('basecensus.csv.xlsx')

In [24]:
filtro  = df['education'].__eq__(' HS-grad')
df1 = df[filtro]

filtro  = df['education'].__eq__(' Some-college')
df2 = df[filtro]

filtro  = df['education'].__eq__(' Bachelors')
df3 = df[filtro]


finalDf = pd.concat([df1, df2, df3])

In [25]:
finalDf = finalDf[(finalDf.astype(str) != ' ?').all(axis=1)]
len(finalDf) # 30162

21562

In [26]:
finalDf.head()

    Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
2            3   38            Private  ...             40   United-States   <=50K
7            8   52   Self-emp-not-inc  ...             45   United-States    >50K
15          17   25   Self-emp-not-inc  ...             35   United-States   <=50K
16          18   32            Private  ...             40   United-States   <=50K
20          22   54            Private  ...             20   United-States   <=50K

[5 rows x 16 columns]

In [27]:
finalDf['income_bi'] = finalDf.apply(lambda row: 1 if '>50K'in row['income'] else 0, axis=1)

In [28]:
finalDf = finalDf.drop(['income','capital.gain','capital.loos','Unnamed: 0','education.num','age','workclass','final.weight','marital.status'], axis=1)

In [29]:
finalDf = pd.get_dummies(finalDf, columns=['occupation','relationship','sex','native.country','race'])

In [30]:
finalDf.head()

   education  hour.per.week  income_bi  ...  race_ Black  race_ Other  race_ White
2    HS-grad             40          0  ...            0            0            1
7    HS-grad             45          1  ...            0            0            1
15   HS-grad             35          0  ...            0            0            1
16   HS-grad             40          0  ...            0            0            1
20   HS-grad             20          0  ...            1            0            0

[5 rows x 71 columns]

In [31]:
finalDf = finalDf.sample(frac=1)

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(finalDf.drop('education',axis=1), finalDf['education'], test_size=0.1, random_state=101)
X_train
y_test

29714     Some-college
4475           HS-grad
20071     Some-college
27668          HS-grad
24226     Some-college
             ...
10130          HS-grad
9009         Bachelors
8103           HS-grad
25056          HS-grad
29204          HS-grad
Name: education, Length: 2157, dtype: object

In [33]:
from sklearn.naive_bayes import BernoulliNB
modelo = BernoulliNB()
modelo.fit(X_train,y_train)
predictions = modelo.predict(X_test)

In [34]:
import pandas as pd

print("\nMatriz de confusão detalhada:\n",
      pd.crosstab(y_test, predictions, rownames=['Real'], colnames=['Predito'],
      margins=True, margins_name='Todos'))

Matriz de confusão detalhada:
 Predito         Bachelors   HS-grad   Some-college  Todos
Real
 Bachelors            308       103             77    488
 HS-grad              133       686            175    994
 Some-college         153       307            215    675
Todos                 594      1096            467   2157

In [36]:
import sklearn.metrics as metrics
print("Relatório sobre a qualidade:\n")
print(metrics.classification_report(y_test, predictions, target_names=['Bachelors','HS-grad','Some-college']))

Relatório sobre a qualidade:

              precision    recall  f1-score   support

   Bachelors       0.52      0.63      0.57       488
     HS-grad       0.63      0.69      0.66       994
Some-college       0.46      0.32      0.38       675

    accuracy                           0.56      2157
   macro avg       0.53      0.55      0.53      2157
weighted avg       0.55      0.56      0.55      2157

In [37]:
precisao = str(round(modelo.score(X_test,y_test) * 100, 2))+"%"
print("A acurácia do modelo foi",precisao)

A acurácia do modelo foi 56.05%

In [38]:
predito = modelo.predict([[40,	1,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1]]) 
print(predito)

[' Bachelors']