Gleyce Andrade Silva - RA:818125665
Lucas Alves Xavier - RA: 818121050
Lucas Amaral - RA:818115153
Mayara Andrade Silva - RA:818146535

In [2]:
import pandas as pd
import numpy as np
from sklearn import tree
import graphviz
from sklearn.model_selection import cross_val_score

In [3]:
from google.colab import files
uploaded = files.upload()

Saving basecensus.csv.xlsx to basecensus.csv.xlsx

In [360]:
df = pd.read_excel('basecensus.csv.xlsx')

In [361]:
filtro  = df['education'].__eq__(' HS-grad')
df1 = df[filtro]

filtro  = df['education'].__eq__(' Some-college')
df2 = df[filtro]

filtro  = df['education'].__eq__(' Bachelors')
df3 = df[filtro]


finalDf = pd.concat([df1, df2, df3])
#finalDf = df

In [362]:
finalDf = finalDf[(finalDf.astype(str) != ' ?').all(axis=1)]
len(finalDf) # 30162

21562

In [363]:
finalDf.head()

    Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
2            3   38            Private  ...             40   United-States   <=50K
7            8   52   Self-emp-not-inc  ...             45   United-States    >50K
15          17   25   Self-emp-not-inc  ...             35   United-States   <=50K
16          18   32            Private  ...             40   United-States   <=50K
20          22   54            Private  ...             20   United-States   <=50K

[5 rows x 16 columns]

In [364]:
finalDf['income_bi'] = finalDf.apply(lambda row: 1 if '>50K'in row['income'] else 0, axis=1)

In [365]:
finalDf = finalDf.drop(['income','capital.gain','capital.loos','Unnamed: 0','education.num','age','workclass','final.weight','marital.status'], axis=1)

In [366]:
finalDf = pd.get_dummies(finalDf, columns=['occupation','relationship','sex','native.country','race'])

In [386]:
finalDf.head()

           education  hour.per.week  ...  race_ Other  race_ White
16786      Bachelors             40  ...            0            1
7997         HS-grad             40  ...            0            1
26716        HS-grad             40  ...            0            1
107     Some-college             50  ...            0            1
21217   Some-college             40  ...            0            1

[5 rows x 71 columns]

In [369]:
finalDf['education'].value_counts()

 HS-grad         9840
 Some-college    6678
 Bachelors       5044
Name: education, dtype: int64

In [385]:
finalDf = finalDf.sample(frac=1)

In [377]:
from sklearn import tree
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(finalDf.drop('education',axis=1),finalDf['education'], test_size=0.3)

In [372]:
from sklearn.model_selection import train_test_split
import pandas as pd
import seaborn as sns

In [378]:
for max_depth in range(1, 15):
    t = tree.DecisionTreeClassifier(criterion='entropy', max_depth=max_depth)
    scores = cross_val_score(t, X_train, y_train, cv=5)
    print("Max depth: %d, Accuracy: %0.2f (+/- %0.2f)" % (max_depth, scores.mean(), scores.std()*2))

Max depth: 1, Accuracy: 0.51 (+/- 0.01)
Max depth: 2, Accuracy: 0.54 (+/- 0.01)
Max depth: 3, Accuracy: 0.54 (+/- 0.01)
Max depth: 4, Accuracy: 0.55 (+/- 0.00)
Max depth: 5, Accuracy: 0.56 (+/- 0.00)
Max depth: 6, Accuracy: 0.56 (+/- 0.00)
Max depth: 7, Accuracy: 0.56 (+/- 0.01)
Max depth: 8, Accuracy: 0.57 (+/- 0.01)
Max depth: 9, Accuracy: 0.57 (+/- 0.01)
Max depth: 10, Accuracy: 0.57 (+/- 0.01)
Max depth: 11, Accuracy: 0.56 (+/- 0.01)
Max depth: 12, Accuracy: 0.56 (+/- 0.01)
Max depth: 13, Accuracy: 0.56 (+/- 0.01)
Max depth: 14, Accuracy: 0.56 (+/- 0.01)

In [379]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=9)
clf = clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
clf.feature_importances_

array([0.12208001, 0.07209123, 0.0529524 , 0.        , 0.00220937,
       0.17025517, 0.        , 0.        , 0.        , 0.00545663,
       0.        , 0.29166135, 0.01466231, 0.07481933, 0.04641762,
       0.        , 0.00423285, 0.01721018, 0.0032384 , 0.03178355,
       0.01348116, 0.003107  , 0.00599493, 0.0074226 , 0.        ,
       0.        , 0.00118658, 0.        , 0.00126484, 0.        ,
       0.00088426, 0.00072691, 0.00416495, 0.        , 0.00075452,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00051113, 0.00166243, 0.00068273, 0.        ,
       0.        , 0.00111909, 0.0005966 , 0.        , 0.        ,
       0.        , 0.00084601, 0.        , 0.00559176, 0.        ,
       0.00049587, 0.00096743, 0.        , 0.00165313, 0.        ,
       0.        , 0.        , 0.00809975, 0.00100752, 0.        ,
       0.00448768, 0.00922264, 0.00632204, 0.00092214, 0.00775391])

In [380]:
import pandas as pd

print("\nMatriz de confusão detalhada:\n",
      pd.crosstab(y_test, predictions, rownames=['Real'], colnames=['Predito'],
      margins=True, margins_name='Todos'))

Matriz de confusão detalhada:
 Predito         Bachelors   HS-grad   Some-college  Todos
Real
 Bachelors            884       517            125   1526
 HS-grad              294      2461            190   2945
 Some-college         359      1324            315   1998
Todos                1537      4302            630   6469

In [381]:
import sklearn.metrics as metrics
print("Relatório sobre a qualidade:\n")
print(metrics.classification_report(y_test, predictions, target_names=['Bachelors','HS-grad','Some-college']))

Relatório sobre a qualidade:

              precision    recall  f1-score   support

   Bachelors       0.58      0.58      0.58      1526
     HS-grad       0.57      0.84      0.68      2945
Some-college       0.50      0.16      0.24      1998

    accuracy                           0.57      6469
   macro avg       0.55      0.52      0.50      6469
weighted avg       0.55      0.57      0.52      6469

In [383]:
d_train_att = finalDf.drop(['education'], axis=1)

In [ ]:
import graphviz 
dot_data = tree.export_graphviz(clf, out_file=None) 
graph = graphviz.Source(dot_data) 
graph.render("df")
dot_data = tree.export_graphviz(clf, out_file=None, 
                         feature_names=list(d_train_att),  
                         class_names=['Bachelors','HS-grad','Some-college'],  
                         filled=True, rounded=True, 
                         special_characters=True)
graph = graphviz.Source(dot_data, format="png") 
graph

In [388]:
predito = clf.predict([[40,	1,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	0,	1,	0,	0,	0,	0,	0,	0,	1]]) 
print(predito)

[' Bachelors']